@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans";
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-dark02{
    color: #424242;
}
.text-dark03{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color:#fff;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
}

/* Nav-bar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner-styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}
/* Responsive media query */
@media screen and (max-width:576px){
    .navbar, .nav-links{
        flex-direction: column;
    }
}