@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans";
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-dark02{
    color: #424242;
}
.text-dark03{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color:#fff;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}
.same-para{
    color: #727272;
    font-size: 1rem;
    font-weight: normal;
}

/* Nav-bar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}


/* banner-styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* team & feature styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
#quick-list{
    color: #727272;
    font-size: 4rem;
    font-weight: 500;
}
#of-our{
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
}
#feature{
    color: #FF900E;
    font-size: 4rem;
    font-weight: bold;
}

/* hdfughdf */

.features{
    gap: 100px;
}

#side-border{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.enjoy-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-architect img{
    width: 100%;
}

#exp-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -80px;
    margin-top: -100px;
}

#exp-year{
    font-size: 4rem;
    font-weight: 700;
}


/* section facts style */
.facts-title{
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
}
.facts-description{
    max-width: 540px;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.num{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    color: #727272;
    font-weight: 600;
    margin-top: 10px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.company-img{
    filter: grayscale(100%);
}
/* Responsive media query */
@media screen and (max-width:576px){
    .navbar, .nav-links, .features, .teams{
        flex-direction: column;
    }
    .team-img-container, .facts-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr) ;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin:20px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    #exp-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}



/* medium size devices */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
    }
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        justify-items: center;
        gap: 30px;
    }
    .figma{
        align-self: center;
        grid-column: span 2;
    }

    #exp-badge{
        margin-left: 20px;
    }
}